In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [53]:
index=[1,2,3]
names=['reef','manal','reem']
s=pd.Series(names, index=index)
s

1     reef
2    manal
3     reem
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [54]:
s.index = [11,12,13]
s

11     reef
12    manal
13     reem
dtype: object

## Q3: Retrieve First and second elements.

In [55]:
print(s[:2])

11     reef
12    manal
dtype: object

## Q4: Add duplicate elements, then remove the duplication

In [57]:
s1=pd.Series({14:'saad',15:'reef'})
s=s.append(s1)
s

C:\Users\reef2\AppData\Local\Temp\ipykernel_9564\1784587481.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s=s.append(s1)

11     reef
12    manal
13     reem
14     saad
15     reef
dtype: object

In [58]:
s.drop_duplicates()

11     reef
12    manal
13     reem
14     saad
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [60]:
 data={'ID':[1,2,3],'Name':['Sara','Salem','Nout']}
student=pd.DataFrame(data,columns=['ID','Name'])
student

   ID   Name
0   1   Sara
1   2  Salem
2   3   Nout

## Q6: Read educ_figdp_1_Data.csv file

In [62]:
edu=pd.read_csv('educ_figdp_1_Data.csv')

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [65]:
edu.loc[88:91]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
88,2004,Belgium,Total public expenditure on education as % of ...,5.95,d
89,2005,Belgium,Total public expenditure on education as % of ...,5.92,d
90,2006,Belgium,Total public expenditure on education as % of ...,5.98,d
91,2007,Belgium,Total public expenditure on education as % of ...,6.00,d

In [66]:
edu.loc[3]

TIME                                                               2003
GEO                                       European Union (28 countries)
INDIC_ED              Total public expenditure on education as % of ...
Value                                                              5.03
Flag and Footnotes                                                    e
Name: 3, dtype: object